.header {
  background-color: #0065AB;
}

.assignment-name {
  margin-top: 0;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
