.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: line-through;
}

.open-question {
  background-color: #e9e9e9e9;
  display: inline;
  padding: 10px;
  font-style: italic;
}
