<ng-container *ngIf="(assignment$ | async) as assignment">
  <h2>Jouw antwoorden</h2>

  <div *ngFor="let question of assignment.payload.questions">
    <h4>
      {{ question.question }}
    </h4>

    <div
      [ngClass]="{
        'incorrect': question.questionType === 'multiple_choice' && !validateAnswers(question.answers, question.userAnswer),
        'correct': question.questionType === 'multiple_choice' && validateAnswers(question.answers, question.userAnswer),
        'open-question': question.questionType === 'open_question'
      }"
    >
      {{ question.userAnswer }}
    </div>
  </div>

  <a
    class="btn"
    (click)="clearAssignment()"
    [routerLink]="['/', params.subject, params.assignmentType, params.assignmentId, 'introductie' ]"
  >
    Lever de opdracht in
  </a>

</ng-container>
