<ng-container *ngIf="{
    currentQuestion: currentQuestion$ | async,
    questionNumber: questionNumber$ | async,
    assignment: assignment$ | async,
    progression: progression$ | async,
    params: route.params | async
  } as data"
>
  <h4 class="current-question">
    Vraag {{ data.questionNumber }} / {{ data.assignment.payload.questions?.length }}
  </h4>
  <h2 class="question" >{{ data.currentQuestion?.question }}</h2>
  <div class="anwser-options-container">
    <ng-container [ngSwitch]="data.currentQuestion?.questionType">
      <div class="radio-buttons-container" *ngSwitchCase="'multiple_choice'">
        <div class="clr-radio-wrapper" *ngFor="let option of data.currentQuestion.answers; let i = index">
          <input (change)="test($event)" [(ngModel)]="currentQuestion.userAnswer" type="radio" id="vertical-radio{{i}}" name="radio-full" [value]="option.answer" class="clr-radio">
          <label for="vertical-radio{{i}}" class="clr-control-label">{{ option.answer }}</label>
        </div>
      </div>
      <div *ngSwitchCase="'open_question'">
          <textarea
          (input)="onChange($event.target.value)"
          [(ngModel)]="currentQuestion.userAnswer"
          placeholder="Vul hier je vraag in"
        >
        </textarea>
      </div>
    </ng-container>
    <ng-container
      *ngIf="data.questionNumber === (data.assignment.payload.questions?.length);"
    >
      <a class="btn" (click)="onSubmit(data.questionNumber)" routerLink="/antwoorden">
        Inleveren
      </a>
    </ng-container>

    <ng-container *ngIf="data.questionNumber < (data.assignment.payload.questions?.length)">
        <a
          class="btn"
          (click)="onSubmit(data.questionNumber)"
          [routerLink]="['/', data.params.subject, data.params.assignment, 'vraag', data.questionNumber + 1]"
        >
          Volgende vraag
        </a>
    </ng-container>

  </div>

  <a
    *ngIf="data.questionNumber !== 1"
    [routerLink]="['/', data.params.subject, data.params.assignment, 'vraag', data.questionNumber - 1]"
  >
    <div class="qst-btn previous">
      <clr-icon shape="angle left" size="70" class="is-inverse"></clr-icon>
    </div>
  </a>

  <a
    *ngIf="data.questionNumber < data.progression || data.questionNumber < data.assignment.payload.questions.length"
    [routerLink]="['/', data.params.subject, data.params.assignment, 'vraag', data.questionNumber + 1]"
  >
    <div class="qst-btn next">
      <clr-icon shape="angle right" size="70" class="is-inverse"></clr-icon>
    </div>
  </a>

  <div class="progress-bar-container">
    <h3>Progressie</h3>
    <app-progress-bar
      [progression]="data.progression | totalPercentage:data.assignment.payload.questions?.length"
    >
    </app-progress-bar>
  </div>
</ng-container>
