.header {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  height: 65px;

  @media (min-width: 768px) {
    height: 85px;
  }
}

.logo {
  margin: 0 auto;
  width: auto;
  height: 45px;

  @media (min-width: 768px) {
    height: 65px;
  }
}

.content-container {
  padding-bottom: 85px;
}
