<ng-container *ngIf="assignment$ | async as assignment">
  <p>
    {{ assignment.payload.introText }}
  </p>

  <p>
    Je bent al begonnen aan deze opdacht. Wil je verder gaan of de opdracht opnieuw maken?
  </p>
  <ng-container *ngIf="progression$ | async as progression">
    {{progression}}
    <ng-container *ngIf="progression">
      <a  class="btn" (click)="setLocalStorageItem()" routerLink="/vraag/1">
        Opnieuw
      </a>

      <a class="btn" [routerLink]="['/vraag', progression]">
        Ga verder
      </a>
    </ng-container>

  </ng-container>

    <ng-container >
      <a class="btn" (click)="setLocalStorageItem()" routerLink="/vraag/1">
        Maak de opdracht
      </a>
    </ng-container>
</ng-container>
